﻿#zolik {
    background-image: url("https://www.oznamkujucitele.cz/img/?f=Zerzan-91.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    transition: 0.1s;
    cursor: pointer;
    position: relative;
    border: 1vw solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#loginBull {
    background-image: url("http://laslilas.com/images/razas/angus-negro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 30vw;
    background-color: white;
    display: block;
    margin: 0 auto;
    position: relative;
}

#zolik:active {
    transform: scale(0.95);
}

.column {
    text-align: center;
    font-family: raleway;
    font-size: 4vw;
    float: left;
    width: 33.33%;
}

#bulls:after {
    content: " žolíks";
}

#multipliers:after {
    content: " tests";
}

#clickers:after {
    content: " žáks";
}


.shop {
    text-align: center;
    font-family: raleway;
    font-size: 4vw;
    float: left;
    width: 50%;
    cursor: pointer;
}

.price {
    font-size: 2vw;
}

    .price::after {
        content: "🃏";
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}