﻿@using Microsoft.AspNet.Identity
@using ZolikClicker.Extensions

@model ZolikClicker.Models.IndexViewModel
@{
    ViewBag.Title = "🐂's Clicker";
}

<canvas id=c></canvas>
<div class="wrap main">
    <div class="row">
        <div class="column" id="bulls">@DataExtension.GetZoliky()</div>
        <div class="column" id="multipliers">@DataExtension.GetTesty()</div>
        <div class="column" id="clickers">@DataExtension.GetZaci()</div>
    </div>

    <div id="zolik"></div>
</div>

<div class="wrap main">
    <div class="row">
        <div class="shop" id="buyM">🤰</div>
        <div class="shop" id="buyC">👩🏽‍🎓</div>
    </div>
    <div class="row">
        <div class="shop price buyM" id="buyM">1</div>
        <div class="shop price buyC" id="buyC">1</div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
        $(function () {
            let zoliky = parseInt("@DataExtension.GetZoliky()");
            let testy = parseInt("@DataExtension.GetTesty()");
            let zaci = parseInt("@DataExtension.GetZaci()");

            let mPrice = (parseInt($(".buyM").text()) + 5 * parseInt($("#multipliers").text()));
            $(".buyM").text(mPrice);
            let cPrice = (parseInt($(".buyC").text()) + 2 * parseInt($("#clickers").text()));
            $(".buyC").text(cPrice);

            function checkRewards() {
                if (zoliky >= 100) {

                }
            }

            function updateB() {
                $("#bulls").text(zoliky);
                checkRewards();
            }
            function updateM() {
                $("#multipliers").text(testy);
            }
            function updateC() {
                $("#clickers").text(zaci);
            }
            function updateMP() {
                mPrice += 5;
                $(".buyM").text(mPrice);
            }
            function updateCP() {
                cPrice += 2;
                $(".buyC").text(cPrice);
            }

            $("#zolik").click(function () {
                zoliky = zoliky + 1 * testy;
                updateB();
            });

            $("#buyM").click(function () {
                if (zoliky >= mPrice) {
                    zoliky -= mPrice;
                    updateMP();
                    testy++;
                    updateM();
                    updateB();
                } else {
                    alert("Málo klikáš, vole! :(");
                }
            });

            $("#buyC").click(function () {
                if (zoliky >= cPrice) {
                    zoliky -= cPrice;
                    updateCP();
                    zaci++;
                    updateC();
                    updateB();
                } else {
                    alert("Dej si 20!");
                }
            });

            setInterval(function () {
                zoliky += zaci;
                updateB();
            }, 1000);

            function Save() {
                $(function () {
                    $.post('/Game/SaveZoliky',
                        { value: zoliky }, function (data) {
                            console.log("Saved: " + data.success);
                        });
                    $.post('/Game/SaveZaci',
                        { value: zaci }, function (data) {
                            console.log("Saved: " + data.success);
                        });
                    $.post('/Game/SaveTesty',
                        { value: testy }, function (data) {
                            console.log("Saved: " + data.success);
                        });
                });
            }

            setInterval(function () {
                Save();
            }, 20000);
            });
</script>
